.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.popupContentDiv {
  width: 10vw;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .popupContentDiv {
    width: 100%;
  }
}
