.container {
  text-align: center;
  padding-bottom: 6rem;
}

.daysContainer {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .daysContainer {
    flex-direction: column;
    width: 100%;
  }
}
