.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(233, 229, 222, 0.8), #c9cac1);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.nav {
  align-self: flex-start;
  background-color: #282c34;
  padding: 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #7c7c78;
  flex-wrap: wrap;
  padding: 0.1rem;
}

.logo {
  height: 7rem;
  width: 7rem;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

@media (max-width: 600px) {
  .content {
    padding: 1rem;
    margin: 0.5rem;
    width: 90%;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  .logo {
    height: 4rem;
    width: 4rem;
  }

  .logoContainer {
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .nav {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #7c7c78;
  }

  .logoutContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
  }
}
