.container {
  font-family: "Lucida Sans Unicode";
  color: #012f1b;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > div {
  /* padding: 2rem; */
  /* border: solid; */
  border-radius: 5px;
}
