.navList {
  display: flex;
  justify-content: center;
  gap: 2px;
  border-radius: 5px;
  list-style-type: none;
  padding: 1rem;
  text-decoration: none;
  background-color: #90aaa3;
}

.navList > li {
  padding: 0rem;
  margin: 0px;
}
