.reusableButton {
  font-size: 0.8rem;
  padding: 8px;
  border: solid 1px;
  background-color: #4ea36a;
  border-color: #4ea36a;
  color: #f3eeee;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.reusableButton:hover {
  background-color: transparent;
  font-weight: 700;
  color: #4ea36a;
}
