.container {
  font-family: "Lucida Sans Unicode";
  color: #012f1b;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3vh;
}

.container > div {
  padding: 2rem;
  border: solid;
  border-radius: 5px;
}
