.formContainer {
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 30vh;
  padding: 1rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* padding-bottom: 6rem; */
}

.form > input {
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  border-color: #d4d1d1;
}

.inputDateContainer {
  display: grid;
  grid-template-columns: 3rem 8rem;
  align-items: center;
}

.inputDate {
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  border-color: #d4d1d1;
}

.formPopup {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.formPopup > input {
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  border-color: #d4d1d1;
}

.formPopupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 600px) {
}
