.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

.detailsContainer {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  padding: 0.2rem;
}

.detailsNames {
  width: 100%;
  grid-column: 1/2;
  padding-left: 0.5rem;
}

.detailsDates {
  width: 100%;
  grid-column: 2/3;
  padding-left: 0.5rem;
}

.detailsDuration {
  width: 100%;
  grid-column: 1/3;
  align-items: center;
}

.detailsContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  background-color: #c7c7c1;
  margin: 0px;
}

.detailsContainer > div > span {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #c7c7c1;
  font-size: 1rem;
  padding: 0.1rem;
  border-top: solid #bbbbb5;
}

.sortAndFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a7b4b8;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.addItem {
  padding: 10px;
}

.itemsTable {
  width: 100%;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

th {
  text-align: center;
  color: #061b21;
}

.noItemsInfo {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .detailsContainer {
    width: 90vw;
    grid-template-columns: 70% 30%;
    gap: 0.2rem;
  }

  .detailsContainer > div > span {
    padding-left: 0.5rem;
  }

  .detailsNames {
    width: 100%;
    grid-column: 1/2;
  }

  .detailsDates {
    width: 100%;
    grid-column: 1/2;
  }

  .detailsDuration {
    width: 100%;
    grid-row: 1/3;
    grid-column: 2/3;
    align-items: center;
    max-width: 3.5rem;
  }

  .sortAndFilter {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .sortAndFilter > :first-child {
    grid-column: 1/6;
  }

  .sortAndFilter > :nth-child(2) {
    grid-column: 1/5;
  }

  .listContainer {
    width: 95vw;
  }

  .itemsTable {
    padding: 1rem;
  }

  .noItemsInfo {
    font-size: 0.8rem;
  }
}
