.reusableButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  padding: 5px;
  border: solid 1px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #a3a3a3;
  border-color: #a3a3a3;
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  margin: 0px;
}

.nav {
  margin: 0;
  border: solid 1px;
  color: #dad8d8;
  border-color: #01916a;
  background-color: #01916a;
}

.nav:hoover {
  background-color: transparent;
  border: solid 1px;
}

.activenav {
  border-color: #0e7358;
  background-color: #0e7358;
  color: #f3eeee;
}

.reusableButton:hover {
  background-color: transparent;
  font-weight: 700;
}

.positive {
  background-color: #218066;
  border-color: #218066;
  color: #f3eeee;
}

.positive:hover {
  color: #4ea36a;
}

.gray {
  background-color: #6c6c6c;
  border-color: #6c6c6c;
  color: #dad8d8;
}

.gray:hover {
  color: #6c6c6c;
}

.information {
  background-color: #4e88a3;
  border-color: #4e88a3;
  color: #f3eeee;
}

.information:hover {
  color: #4e88a3;
}

.negative {
  background-color: #af5050;
  border-color: #af5050;
  color: #f3eeee;
}

.negative:hover {
  color: #af5050;
}
.filter {
  background-color: #3e788f;
  border-color: #3e788f;
  color: #f3eeee;
}

.activefilter {
  background-color: #235265;
  border-color: #235265;
  color: #f3eeee;
}

.addButton {
  background-color: #e9e69c;
  border-color: #e9e69c;
  color: #6c6c6c;
}
