select {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 8px;
  border: 1px solid;
  font-family: "Lucida Sans Unicode";
  border-radius: 3px;
  background-color: #6c6c6c;
  border-color: #6c6c6c;
  color: #dad8d8;
  font-weight: 200;
  box-shadow: var(--shadow-sm);
}
