.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sortList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border-radius: 4px;
}

.sortList li {
  width: 100%;
}
